extends layout

block content
    div.contain-to-grid.sticky(data-topbar, role='navigation', data-options='sticky_on: large')
        nav.top-bar
            ul.title-area
                h1.fw100="acepower.io"
            section.top-bar-section
                ul#menu.right
                    li
                        a Our Services
                    li
                        a Our Work
                    li
                        a About
                    li
                        a Contact Us
    div.container
        div.full-width.bg-variant
            div.row
                div.large-5.medium-5.columns.banner-image
                    img(src='img/computer.svg')
                div.large-7.medium-7.columns.banner-info.fw100
                    h2="Powered solutions to empower you"
                    p="Ace Power is a development agency and consultancy."
                    p="High quality bespoke software - designed to last."
                    p="With brilliant staff, a passion for technology and a forward thinking attitude Ace Power is the correct choice."
        div#info.row
            ul.fw100.text-center
                li.small-12.large-4.columns.native-app
                    h3="Native apps"
                    p="We build beautifully designed, well crafted bespoke native mobile apps. Design and build precisely to your needs."
                li.small-12.large-4.columns.scalable
                    h3="Scalable web apps"
                    p="Optimising cloud technologies we build solutions that handle scale at the best cost ratio."
                li.small-12.large-4.columns.latest
                    h3="Latest technologies"
                    p="Implementing the latest technologies, our solutions are resilient and modern providing the best for our clients."
                li.small-12.large-4.columns.opensource
                    h3="Embracing open source"
                    p="We believe in open source and will use open source technology where possible."
                li.small-12.large-4.columns.security
                    h3="Security emphasis"
                    p="In house security experts make sure our solutions are fully secure and thoroughly tested."
                li.small-12.large-4.columns.support
                    h3="Support on demand"
                    p="If you wish to discuss any matter our team are ready to support your queries."