div.contain-to-grid.sticky(data-topbar, role="navigation", data-options="sticky_on: large")
    nav.top-bar
        ul.title-area
            a(href="../")
                h1.fw100="acepower.io"
        section.top-bar-section
            ul.menu.right
                li
                    a(href="/services")="Our Services"
                li
                    a(href="/work")="Our Work"
                li
                    a(href="/about")="About"
                li
                    a(href="/contact")="Contact Us"