div.contain-to-grid.sticky(data-topbar, role='navigation', data-options='sticky_on: large')
    nav.top-bar
        ul.title-area
            h1.fw100="acepower.io"
        section.top-bar-section
            ul.menu.right
                li
                    a="Our Services"
                li
                    a="Our Work"
                li
                    a="About"
                li
                    a="Contact Us"